.table-ctn {
    border: 1px solid #ddd;
    border-radius: 1rem;
    overflow: auto;
    margin-top: 1rem;
  }
  
  .table-ctn table {
    width: 100%;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    margin: 0;
  }
  
  .table-ctn table thead {
    position: sticky;
    top: 0;
    background-color: #f9fafb;
  }

  .table-ctn table thead tr th{
    background-color: #f9fafb; ;
  }
  
  .table-ctn th,
  .table-ctn td {
    padding: 0.8rem;
    border-bottom: 1px solid #ddd;
  }
  
  .table-ctn th {
    font-weight: 600
  }
  
  .table-ctn tbody td {
    font-size: 0.85rem;
    font-weight: 500;
  }
  
  .table-ctn .data-cards {
    display: none;
    
  }

  .table-ctn{

    .dropdown-toggle::after {
      display: none !important; 
    }
  }


  .customer-page .filter-sec{
    width: 50% !important;
}

  @media (max-width: 1024px) {
    .table-ctn{
     
      overflow: auto;
    }

    .table-ctn table{
      width: 110vw;
    }

    .customer-page .filter-sec{
      width: 70%;
  }
  }


  
  @media (max-width: 768px) {

    .table-ctn .pagination{
      display: none;
  }
    .table-ctn table {
      display: none;
    }
  
    .table-ctn .data-cards {
      display: block;
      padding: 0;
      border: 0;
    }
  
    .table-ctn .data-card {
      background-color: white;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ddd;
    }
  
    .table-ctn .data-card h3 {
      margin: 0 0 0.5rem;
    }
  
    .table-ctn .data-card p {
      margin: 0.2rem 0;
      font-size: 1rem;
    }

    .table-ctn {
      border: none;
    }

    .customer-page .filter-sec{
      width: 100% !important;
    }
  }
  