.create-order .main-sec .payment h4{
    font-size: 1.25rem;
}
.create-order .main-sec .payment h5{
    font-size: 1rem;
}

.create-order .main-sec .payment .container h5{
    margin-bottom: 1rem;
}

.create-order .main-sec .order-detail .head h4{
    font-size: 1rem;
}


.create-order .main-sec .right .ctn{
    background-color: white;
    padding: 1rem;
    border-radius: 0.3rem;
}

.create-order .main-sec .right h4{
    font-size: 1rem;
}

.create-order .main-sec .right h5{
    font-size: 1rem;
    font-weight: 400;
}

.create-order .main-sec .right .drop-down button{
    background-color: white;
    color: black;
    border-color: #B9C0CD;
    width: 100%;
}

.create-order .main-sec .right .drop-down .dropdown-menu{
    width: 95%;
}

.create-order .main-sec .right ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.create-order .main-sec .right ul li{
    border-bottom: 1px solid #B9C0CD;
    padding: 0.3rem;
}



.create-order .top p{
    display: flex;
    justify-content: center;
}

.create-order .top .green{
    background-color: #D1FAE5;
    border: 1px solid #6EE7B7;
    color: #41b788;
    border-radius: 0.3rem;
    width: 6rem;
}

.create-order .top .grey{
    background-color: #F3F4F6;
    border: 1px solid #D1D5DB;
    color: rgb(63, 60, 60);
    border-radius: 0.3rem;
    width: 6rem;
}

.create-order .top .blue{
    background-color: #DBEAFE;
    border: 1px solid #5d91cb;
    color: #5c9de8;
    border-radius: 0.3rem;
    width: 6rem;
}

.create-order .top .yellow{
    background-color: #FEF3C7;
    border: 1px solid #FCD34D;
    color: #8e741d;
    border-radius: 0.3rem;
    width: 6rem;
}


.create-order .top .red{
    background-color: #FEE2E2;
    border: 1px solid #FCA5A5;
    color: #be5757;
    border-radius: 0.3rem;
    width: 6rem;
}


.create-order .weight-input{
    width: 50%;
}





@media (max-width: 1024px) {
    .create-order .main-sec{
        flex-wrap: wrap-reverse;
    }

    .create-order .main-sec .right{
        width: 100%;
    }


    .create-order .weight-input{
        width: 50%;
    }
    
}


@media (max-width: 768px) {

    
    .create-order .main-sec .right .ctn .selected-customer{
         /* display: flex; */
         gap: 0.5rem;
         justify-content: space-between;
        
        /* .cross-btn{
            right: -35rem !important;
            top: -25px !important;
        } */

    }


    .create-order .weight-input{
        width: 80%;
    }
    
}


@media (max-width: 500px) {

    .create-order .weight-input{
        width: 100%;
    }


}