.export-btn{
    height:  30px;
    padding: 0.2rem 1rem ;
    font-size: 0.8rem;
    background-color: #CDCDCD !important;
    color: white !important;
}

.sm-btn{
    display: none;
}


@media(max-width:768px){
    .sm-btn{
        display: grid;
        padding: 0.5rem 0.5rem !important;
        width: 2.5rem !important;
        height: 2.5rem !important;
        border-radius: 50%;
    }


    .lg-btn{
        display: none;
    }
}