.filter{
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    width: 9.5rem;
}

.filter button{
    background: none;
    border: none;
    font-size: 0.8rem;
    padding: 0 0.1rem !important;
}

.filter button span{
    margin-right: 1rem;
}

@media(max-width:768px){
    .filter button span{
        margin: 0;
        margin: 0 0.3rem;
    }

    .filter button .text{
       display: none;
    }
    .filter{
       
        /* width: 9.5rem; */
    }
}

