.modal-customer-list ul{
    list-style: none;
    padding: 0;

    li{
        display: flex;
        align-items:center;
        gap:1rem;
        border-bottom: 1px solid #B9C0CD;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
    }

    h5,h6{
        margin: 0;
    }

    h5{
        font-weight: 600 !important;
    }
    h6{
        font-weight: 400;
    }
}