.segments-page .filter-sec{
    width: 50%;
}


@media(max-width:1024px){
    .segments-page .filter-sec{
        width: 70%;
    }
}


@media(max-width:768px){
    .segments-page .filter-sec{
        width: 100%;
    }
}

