.sideBar{
    border-radius: 0.8rem;
    background-color: var(--White, #FFF);
    height: 100%;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
        text-decoration: none;
    }
}

.sideBar ul{
    list-style: none;
    padding: 0;
}

.sideBar ul li{
    margin-bottom: 0.65rem;
    padding: 0.4rem 0 0.4rem 1rem;
    display: flex;
    justify-content: left;
    width: 100%;
}

.sideBar ul li button{
    background: none;
    border: none;
    

}

.sideBar .icon{
    color: #222326;
}

.sideBar ul li span{
    margin-right: 1rem;
}

.sideBar ul li button{
    font-size: 1rem;
    font-weight: 400;
    color:#222326;
    
}


.sideBar ul li button:hover{
    color: #0561FC;
}

.sideBar ul li button:hover .icon svg {
    color: #0561FC;
}

.sideBar h3{
    font-size: 1.1rem;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.sideBar .on-mobile{
    margin-top: 1.3rem;
}

.sideBar .show-on-mobile{
    display: none;
}


.sideBar .selected button{
    color: #0561FC;
}

.sideBar .selected button span{
    color: #0561FC;
}


@media (max-width: 768px) {
    .sideBar .menu .on-mobile{
       display: flex;
        margin: 0;
    }

    .sideBar .menu .show-on-mobile{
        display: block;
    }

    .sideBar .hide-on-mobile{
        display: none;
    }

    .sideBar ul li a{
        width: 100%;
    }

    .sideBar ul li button{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: scale(0.85);
    }

    .sideBar ul li a{
        text-decoration: none;
    }

    .sideBar ul li  span{
        margin: 0;
    } 


    .sideBar .more-menu {
        padding-top: 1rem;
        position: absolute;
        right: 0.4rem;
        border-radius: 3.5rem;
        bottom: 4rem;
        z-index: 10000;
        background-color: white;
        /* backdrop-filter: opacity(0.5); */
        animation: slideUp 0.3s ease-out; /* Animation applied */
      }
      
      /* Keyframes for sliding up */
      @keyframes slideUp {
        from {
          transform: translateY(100%);
          /* opacity: 0; */
        }
        to {
          transform: translateY(0);
          /* opacity: 1; */
        }
      }
      
   
}


@media (max-width: 1024px) {

    .sideBar{

    }

    .sideBar ul li{
        margin-bottom: 1.2rem;
    }

    .sideBar h3{
        margin-top: 3.3rem;
    }


    .sideBar ul li{
        padding: 0.4rem 0.5rem;
    }

    .sideBar button{
       
    }



}